<!-- MAIN CONTENT-->

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row invoice-card-row">
                <div class="col-lg-6 col-xl-3 col-md-6 col-sm-12">
                    <div class="card bg-warning invoice-card">
                        <div class="card-body d-flex">
                            <div class="icon">
                                <i class="fa fa-user"></i>
                            </div>
                            <div>
                                <h2 class="text-white invoice-num">{{totallugares}}</h2>
                                <span class="text-white fs-18">Lugares creados</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-3 col-md-6 col-sm-12">
                    <div class="card bg-success invoice-card">
                        <div class="card-body d-flex">
                            <div class="icon">
                                <i class="fa-city fas"></i>
                            </div>
                            <div>
                                <h2 class="text-white invoice-num">{{notamedia}}</h2>
                                <span class="text-white fs-18">Nota media</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-3 col-md-6 col-sm-12">
                    <div class="card bg-info invoice-card">
                        <div class="card-body d-flex">
                            <div class="icon">
                                <i class="fa-map-marker-times far"></i>
                            </div>
                            <div>
                                <h2 class="text-white invoice-num">{{totalvisitas}}</h2>
                                <span class="text-white fs-18">Visitas totales de todos mis Lugares</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-3 col-md-6 col-sm-12">
                    <div class="card bg-secondary invoice-card">
                        <div class="card-body d-flex">
                            <div class="icon">
                                <i class="fa-star fas"></i>
                            </div>
                            <div>
                                <h2 class="text-white invoice-num">{{totalvaloraciones}}</h2>
                                <span class="text-white fs-18">Valoraciones totales de mis lugares</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="au-card recent-report">
                        <div class="au-card-inner">
                            <h3 style="width: 170px;" class="title-2">Nº de visitas por lugar</h3>
                            <div style="left: 40%;" class="form-group col-sm-6">
                              <form *ngIf="listaLugares.length > 0" style="margin-top: -30px;" [formGroup]="searchForm" (ngSubmit)="getPlace()">
                                <mat-form-field class="colinputMaterial" appearance="outline">
                                    <mat-label>Lugar de interés</mat-label>
                                    <input type="text" (input)="getPlacesAll()" placeholder="Seleccione un comercio"
                                    aria-label="Lugar de interés" matInput [formControl]="filterPlace" formControlName="place"  [matAutocomplete]="auto">
                                    <mat-autocomplete style="border-radius: 20px; border: 2px solid #f1f2f3;" #auto="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
                                            {{option.name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <div class="invalid-feedback">
                                        El campo provincia es obligatorio
                                    </div>
                                </mat-form-field>
                              </form>
                            </div>
                            <div *ngIf="this.places.length == 0">
                              <h2 style="text-align: center;"> No has creado ningún lugar todavía</h2>
                              <h3 style="text-align: center;"> Pincha <a routerLink="/commerce/comercios/comercio/nuevo">aquí</a> para dar de alta uno</h3>
                            </div>
                            <div id="divChart" style="height: 380px;">
                              <canvas id="myChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="au-card chart-percent-card">
                        <div class="au-card-inner">
                            <h3 class="title-2 tm-b-5">Ordenar lugares/comercios por: </h3>
                            <div *ngIf="this.places.length > 0" class="form-group col-md-12">
                              <mat-form-field class="select2 form-control custom-select">
                                <mat-select [(value)]="order" [ngModel]="order" (ngModelChange)="getPlacesByNota($event)" id="order">
                                  <mat-option value="MEDIA_VAL_HIGH">Comercios/lugares mejor valorados</mat-option>
                                  <mat-option value="MEDIA_VAL_LOW">Comercios/lugares peor valorados</mat-option>
                                  <mat-option value="MORE_REVWS">Más comentados</mat-option>
                                  <mat-option value="LESS_REVWS">Menos comentados</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <h2 *ngIf="this.places.length == 0">Aún no has creado ningún comercio</h2>
                            <div *ngIf="this.places.length > 0" class="au-card au-card--bg-blue au-card-top-countries m-b-40">
                              <div class="au-card-inner">
                                  <div class="table-responsive">
                                      <table class="table table-top-countries">
                                          <tbody *ngIf="order == 'MORE_REVWS' || order == 'LESS_REVWS'">
                                              <tr *ngFor="let item of placesOrder;let i = index;">
                                                  <td>{{item.name}}</td>
                                                  <td class="text-right">{{item.reviews.length}}</td>
                                              </tr>
                                          </tbody>
                                          <tbody *ngIf="order == 'MEDIA_VAL_HIGH' || order == 'MEDIA_VAL_LOW'">
                                            <tr *ngFor="let item of placesOrder;let i = index;">
                                                <td>{{item.name}}</td>
                                                <td class="text-right">{{item.media_reviews}}</td>
                                            </tr>
                                        </tbody>
                                      </table>
                                  </div>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-lg-6">
                    <div class="au-card recent-report">
                        <div class="au-card-inner">
                            <h3 class="title-2">Lugares más comentados</h3>
                            <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
                              <div class="au-card-inner">
                                  <div class="table-responsive">
                                      <table class="table table-top-countries">
                                          <tbody>


                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->
<!-- END PAGE CONTAINER-->

<!-- Jquery JS-->
<script src="../../../assets/vendor/jquery-3.2.1.min.js"></script>
<!-- Bootstrap JS-->
<script src="../../../assets/vendor/bootstrap-4.1/popper.min.js"></script>
<script src="../../../assets/vendor/bootstrap-4.1/bootstrap.min.js"></script>
<!-- Vendor JS       -->
<script src="../../../assets/vendor/slick/slick.min.js">
</script>
<script src="../../../assets/vendor/wow/wow.min.js"></script>
<script src="../../../assets/vendor/animsition/animsition.min.js"></script>
<script src="../../../assets/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
</script>
<script src="../../../assets/vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="../../../assets/vendor/counter-up/jquery.counterup.min.js">
</script>
<script src="../../../assets/vendor/circle-progress/circle-progress.min.js"></script>
<script src="../../../assets/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="../../../assets/vendor/chartjs/Chart.bundle.min.js"></script>
<script src="../../../assets/vendor/select2/select2.min.js">
</script>

<!-- Main JS-->
<script src="../../../assets/js/main.js"></script>
