<!--<jw-modal id="viajes"> -->
  <div id="form_guay" class="card-body">
    <div style="text-align: end;"> <button mat-icon-button mat-dialog-close aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <!-- Crear viaje -->
    <form *ngIf="this.uid === 'nuevo' && !this.formPictures" class="form-horizontal m-t-20" [formGroup]="datosFormNew" (ngSubmit)="crearViaje()">
       <h2 >Crear Viaje</h2>

        <div class="form-group margLeftRight">
            <label for="name">Nombre *</label>
            <input type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid' : campoNoValidoNew('name')}" id="name">
                <div class="invalid-feedback">
                    El nombre es obligatorio
                </div>
          </div>

          <div class="form-group margLeftRight">
            <label for="name">Lugares de interes *</label>
            <ng-multiselect-dropdown formControlName="places" [placeholder]="'Elige los lugares de la ruta' " [ngClass]="{'is-invalid' : campoNoValidoNew('places')}"  [settings]="dropdownSettings" [data]="listaRegistros" (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)">
            </ng-multiselect-dropdown>
                <div class="invalid-feedback">
                    El campo lugares de interes es obligatorio
                </div>
          </div>

          <div class="form-group margLeftRight">
            <label for="name">Descripcion *</label>
            <textarea class="form-control" formControlName="description" id="description" [ngClass]="{'is-invalid' : campoNoValidoNew('description')}" rows="3"></textarea>
            <div class="invalid-feedback">
              El campo descripcion es obligatorio
              </div>
          </div>

          <div class="form-group margLeftRight" id="imanesSubir">
            <label for="name">Fotos</label>
            <input formControlName="pictures" for style="display: none;" (change)="fileChangeTravels($event)" type="file" class="form-control" multiple="multiple" aria-describedby="inputGroupFileAddon01" name="file" id="fotosubidas">
            <div class="pictures">
                <label *ngIf="this.file.length == 0" for="fotosubidas" class="custom-file-upload">
                <i class="fa fa-cloud-upload"></i> Seleccione imágenes
              </label>
                <div id="fotosCargadas" *ngIf="this.file.length > 0">
                    <div *ngIf="!this.waiting_pictures" class="content spinnerCSSMejorado2">
                      <div class="spinner"></div>
                    </div>
                    <div class="fotosEspectaculares" *ngFor=" let indice=index; let item of this.file;">
                        <div *ngIf="this.waiting_pictures" class="imagenesUnidas">
                            <img [src]="this.imagenUrl[indice]" alt="Fotos">
                            <div class="containerAbierto" (click)="deleteFileUploadTravels(indice)">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <label *ngIf="this.file.length > 0" for="fotosubidas" class="custom-file-upload">
                  <i class="fa fa-cloud-upload"></i> Seleccione más imágenes
                </label>
            </div>
          </div>
            <div class="d-flex justify-content-center m-t-10 ">
                <div class="align-content-center ">
                  <button class="btn btn-primary m-r-20 " type="submit" id="enviar" [disabled]="datosFormNew.pristine"> <i *ngIf="waiting" style="margin-right: 10px;" class="fas fa-circle-notch fa-spin"></i> Enviar</button>
                </div>
            </div>
    </form>

    <!-- Editar viaje -->

    <form *ngIf="this.uid !== 'nuevo' && !this.formPictures" class="form-horizontal m-t-20" [formGroup]="datosForm" (ngSubmit)="editarViaje()">
      <h2>Editar Viaje</h2>
        <div class="form-group margLeftRight">
            <label for="name">Nombre *</label>
            <input type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid' : campoNoValidoEdit('name')}" id="name">
                <div class="invalid-feedback">
                    El nombre es obligatorio
                </div>
          </div>
          <div class="form-group margLeftRight">
            <label for="name">Lugares de interes *</label>
            <ng-multiselect-dropdown  [(ngModel)]="selectedItems" formControlName="places" [placeholder]="'Elige los lugares de la ruta' " [ngClass]="{'is-invalid' : campoNoValidoEdit('places')}"  [settings]="dropdownSettings" [data]="listaRegistros" (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)">
            </ng-multiselect-dropdown>
                <div class="invalid-feedback">
                    El campo lugares de interes es obligatorio
                </div>
          </div>

          <div class="form-group margLeftRight">
            <label for="name">Descripcion *</label>
            <textarea class="form-control" formControlName="description" id="description" [ngClass]="{'is-invalid' : campoNoValidoEdit('description')}" rows="3"></textarea>
            <div class="invalid-feedback">
              El campo descripcion es obligatorio
              </div>
          </div>
            <div class="d-flex justify-content-center m-t-10 ">
                <div class="align-content-center ">
                    <button class="btn btn-primary m-r-20 " type="submit" id="enviar" [disabled]="datosForm.pristine"> <i *ngIf="waiting" style="margin-right: 10px;" class="fas fa-circle-notch fa-spin"></i> Enviar</button>
                </div>
            </div>
    </form>


    <!-- Editar imagenes del viaje -->

    <div *ngIf="this.uid !== 'nuevo' && this.formPictures" class="d-flex justify-content-center">
      <div class="card">
          <div style="height: auto;" class="card-body">
              <h2 style="text-align: center;">Imágenes totales</h2>
              <div *ngIf="totalFotos > 0">
                  <div class="form-group row m-t-10">
                      <div class="col-lg-12 col-md-12">
                        <div class="text-center">
                          <div *ngIf="cargar_imagen" class="content"><div class="spinner spinnerCSSMejorado"></div></div>
                          <img style="display: block; margin: auto; max-height: 190px; width: auto; height: auto;"  [src]="namefile">
                          <i (click)="confirmDeletePhoto();" class="fa fa-times borrarFoto" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <p style="display: block; text-align: center;">
                  <i *ngIf="iconoAtras" (click)="cambiarFotosAtras();" style="margin-right: 10px;" class="fas fa-arrow-left"></i>
                      Foto: {{numFoto}} de {{totalFotos}}
                  <i *ngIf="iconoAlante" (click)="cambiarFotosAlante();" style="margin-left: 10px;" class="fas fa-arrow-right"></i>
                </p>
            </div>

            <div *ngIf="!wait_form && totalFotos == 0" class="">
              <div class="form-group row m-t-10">
                  <div class="col-lg-12 col-md-12">
                    <div class="text-center">
                      <p>No hay imágenes de este viaje</p>
                    </div>
                </div>
              </div>
            </div>

          </div>
      </div>
    </div>
    <!-- Formulario para enviar los ficheros -->
    <div style="margin-top: 10px;" *ngIf="this.uid !== 'nuevo' && this.formPictures" class="d-flex justify-content-center">
      <div class="card">
          <div style="height: auto; padding-left: 0; overflow: hidden;" class="card-body">
              <h2>Añadir imágenes</h2>
              <form class="form-horizontal m-t-20" (submit)="upload();" enctype="multipart/form-data">
                <div class="form-group margLeftRight" id="imanesSubir">
                  <input for style="display: none;" (change)="fileUpdateTravels($event)" type="file" class="form-control" multiple="multiple" aria-describedby="inputGroupFileAddon01" name="file" id="fotosubidas">
                  <div style="width: 370px;" class="pictures">
                      <label style="display: block; text-align: center; width: 79%; margin: auto;" *ngIf="this.uploadedFiles.length == 0" for="fotosubidas" class="custom-file-upload">
                      <i class="fa fa-cloud-upload"></i> Seleccione imágenes
                    </label>
                      <div id="fotosCargadas" *ngIf="this.uploadedFiles.length > 0">
                          <div *ngIf="this.waiting_pictures" class="content spinnerCSSMejorado2">
                            <div class="spinner"></div>
                          </div>
                          <div class="fotosEspectaculares" *ngFor=" let indice=index; let item of this.uploadedFiles;">
                              <div *ngIf="!this.waiting_pictures" class="imagenesUnidas">
                                  <img [src]="this.imagenUrl[indice]" alt="Fotos">
                                  <div class="containerAbierto" (click)="deleteFileTravels(indice)">
                                      <i class="fa fa-times" aria-hidden="true"></i>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <label style="display: block; text-align: center; width: 79%; margin: auto;" *ngIf="this.uploadedFiles.length > 0" for="fotosubidas" class="custom-file-upload">
                        <i class="fa fa-cloud-upload"></i> Seleccione más imágenes
                      </label>
                  </div>
                </div>
                <div class="d-flex justify-content-center m-t-10 ">
                  <div class="align-content-center ">
                    <button class="btn btn-primary m-r-20 " type="submit" id="enviar" [disabled]="this.uploadedFiles.length === 0"> <i *ngIf="wait_send_pictures" style="margin-right: 10px;" class="fas fa-circle-notch fa-spin"></i> Enviar</button>
                    <button class="btn btn-danger " (click)="cancelUpdatePictures();" [disabled]="this.uploadedFiles.length === 0">Cancelar</button>
                  </div>
                </div>
              </form>
          </div>
      </div>
  </div>

  </div>
