<!--<p>ui works!</p>-->

<!--
<div class="container" id="container">


    <div class="post" id="post">


        <div class="header_post" id="images">


        </div>
        <i id="exit" class="fa fa-times" style="position: absolute;top: 5px; right: 5px; " (click)="hide()"></i>
        <div class="body_post">
            <div class="post_content" id="NameProv" style="width:85%;">
                <div class="oc_hostel" id="oc_hostel" style="overflow-y: scroll; overflow-x:hidden;width:100%;height: 150px;">

                </div>
                <div class="container_infos" id="container_infos">
                    <div class="postedBy" id="total">
                        <span>Total pueblos</span>
                    </div>

                    <div class="container_tags">
                        <span>Tags</span>
                        <div class="tags">
                            <ul>
                                <li>Restaurantes</li>
                                <li>Museos</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>-->
<!--<div id="NameProv"></div>-->

<!--
<div class="containerCerrar" id="cerrarTarLugarInfo" (click)="cerrarCard()">
    <i class="fa fa-times" aria-hidden="true"></i>
</div>

<div class="tarLug" id="tarLugarInfo">
    <div class="degradao">
        <div id="tarLugarInfoImg" class="tarLugImg"></div>
    </div>
    <div class="containerInfoFoto">
        <h3 id="tarLugarInfoType">tipo</h3>
        <h1 id="tarLugarInfoNom">nombre</h1>
    </div>
    <div *ngIf="this.uid_user != ''" class="favorito">
      <span style="display: none;"  title="Añadir lugar a tus favoritos" id="notFavorite" ><i class="fa-regular fa-heart"></i></span>
      <span style="display: none;" title="Eliminar lugar a tus favoritos" id="Favorite"><i class="fa-solid fa-heart"></i></span>
    </div>
    <div class="containerMasFotosFoto" id="contenedorMasFotos">
        <div id="tarLugarInfoFots">
        </div>
        <p id="tarLugarInfoFotsNum">X+</p>
    </div>
    <div class="containertarjetas">
        <div class="tarjeta">
            <div class="iconn"><i class="fa fa-star" aria-hidden="true"></i></div>
            <div>
                <h2 id="tarLugarInfoFotsValo">30000</h2>
                <p>Valoracion</p>
            </div>
        </div>
        <div class="tarjeta">
            <div class="iconn"><i class="fa fa-phone" aria-hidden="true"></i></div>
            <div>
                <h2 id="tarLugarInfoFotsTelf">30000</h2>
                <p>Telefono</p>
            </div>
        </div>
    </div>
    <div class="containertarjetas">
        <div class="tarjeta">
            <div class="iconn"><i class="fa fa-map-pin" aria-hidden="true"></i></div>
            <div>
                <h2 id="tarLugarInfoFotsCalle">10000</h2>
                <p>Calle</p>
            </div>
        </div>
        <div class="tarjeta">
            <div class="iconn"><i class="fa fa-window-maximize" aria-hidden="true"></i></div>
            <div>
                <h2 id="tarLugarInfoFotsWeb">10000</h2>
                <p>Web</p>
            </div>
        </div>
    </div>

    <div class="containerdescrip">
        <h2>Descripcion:</h2>
        <p id="tarLugarInfoFotsDescrip">Demo.</p>
    </div>

    <div class="containereventosylugares" id="tarLugarInfocontainereventos">
        <div class="info">
            <h4 id="tarLugarInfoeventosNum">Valoraciones: X</h4>
            <p id="tarLugarInfoeventosMas"></p>
        </div>
        <div class="lista" id="tarLugarInfolistaEventos">
          
        </div>
    </div>
</div> -->
