<!-- Crear valoracion -->
          <!--<div class="card"> -->
              <div id="form_guay" class="card-body">
                  <form id="formReview" class="form-horizontal m-t-20" [formGroup]="createReview" (ngSubmit)="newReview()">
                    <h2>Crear valoracion</h2>
                      <div class="valSreviews margLeftRight">
                          <div class="form-group valSreviewBajo">
                              <label for="name">Calificacion *</label>
                              <div style="width: 120px;" class="starsReview marginStarsReview" id="starsReview">
                                  <span class="starss_update" (click)="updateStars(1)"><i class="fas fa-star"></i></span>
                                  <span class="starss_update" (click)="updateStars(2)"><i class="fas fa-star"></i></span>
                                  <span class="starss_update" (click)="updateStars(3)"><i class="fas fa-star"></i></span>
                                  <span class="starss_update" (click)="updateStars(4)"><i class="fas fa-star"></i></span>
                                  <span class="starss_update" (click)="updateStars(5)"><i class="fas fa-star"></i></span>
                              </div>
                              <!--<input type="number" min="1" max="5" class="form-control" formControlName="review" [ngClass]="{'is-invalid' : campoNoValidoNew('review')}" id="review">
                              <div class="invalid-feedback">
                                El campo calificacion es obligatorio y debe ser un valor numerico entre 1 y 5
                              </div> -->
                          </div>
                      </div>

                      <div class="form-group margLeftRight">
                          <label for="name">Comentario</label>
                          <textarea class="form-control" formControlName="comment" [ngClass]="{'is-invalid' : campoNoValidoNew('comment')}" id="comment" rows="3"></textarea>
                          <div class="invalid-feedback">
                              El campo comentario es obligatorio
                          </div>
                      </div>
                      <div class="form-group margLeftRight" id="imanesSubir">
                          <label for="name">Fotos</label>
                          <input for style="display: none;" (change)="fileChange($event)" type="file" class="form-control" multiple="multiple" aria-describedby="inputGroupFileAddon01" name="file" id="fotosubidas">
                          <div class="pictures">
                              <label *ngIf="this.file.length == 0" for="fotosubidas" class="custom-file-upload">
                              <i class="fa fa-cloud-upload"></i> Seleccione imágenes
                            </label>
                              <div id="fotosCargadas" *ngIf="this.file.length > 0">
                                  <div *ngIf="!this.waiting_pictures" class="content spinnerCSSMejorado2">
                                    <div class="spinner"></div>
                                  </div>
                                  <div class="fotosEspectaculares" *ngFor=" let indice=index; let item of this.file;">
                                      <div *ngIf="this.waiting_pictures" class="imagenesUnidas">
                                          <img [src]="this.imagenUrl[indice]" alt="Fotos">
                                          <div class="containerAbierto" (click)="deleteFileUpload(indice)">
                                              <i class="fa fa-times" aria-hidden="true"></i>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <label *ngIf="this.file.length > 0" for="fotosubidas" class="custom-file-upload">
                              <i class="fa fa-cloud-upload"></i> Seleccione más imágenes
                            </label>
                          </div>
                      </div>
                      <div class="d-flex justify-content-center m-t-10 ">
                          <div class="align-content-center ">
                              <input type="hidden" id="custId" name="custId" [innerHtml]="this.uid_place">
                              <button class="btn btn-primary m-r-20 " type="submit " id="enviar" [disabled]="this.createReview.invalid"> <i *ngIf="waiting" style="margin-right: 10px;" class="fas fa-circle-notch fa-spin"></i> Enviar</button>
                              <button class="btn btn-danger " type="button" mat-dialog-close id="cancelar">Cancelar</button>
                          </div>
                      </div>
                  </form>
              </div>
          <!--</div> -->
