<div class="cardReviewHeader">
    <i (click)="cerrarCard()" class="fa-solid fa-arrow-left circle-icon"></i>
    <h1 class="tittle">Todas las valoraciones</h1>
    <i (click)="cambiarFiltro()" class="fa fa-filter circle-icon"></i>
</div>

<div class="container">
    <div id="filtrosValoraciones">
      <div *ngIf="filtrosActivos" class="col-sm-12">
          <form [formGroup]="searchForm" (ngSubmit)="cargarValoracionesPlace()">
              <div class="valSreviews margLeftRight">
                      <div class="form-group col-sm-12">
                          <div class="input-group">
                              <input #txtBuscar type="text" class="form-control round" formControlName="text" id="fname" placeholder="Buscar">
                              <div class="input-group-append">
                                  <span class="input-group-text micursor round" (click)="borrar(); this.updateStars(0)"><i class="fa fa-times-circle"></i></span>
                              </div>
                          </div>
                        </div>
                  <!--<div class="form-group col-sm-6">
                      <mat-form-field style="display:block;" class="colinputMaterial" appearance="outline">
                          <mat-label>Provincia</mat-label>
                          <input type="text" (input)="getProvincesPlace()" placeholder="Seleccione una provincia" aria-label="Provincia" matInput formControlName="province" [formControl]="filterProvince" [matAutocomplete]="auto">
                          <mat-autocomplete style="border-radius: 20px; border: 2px solid #f1f2f3;" #auto="matAutocomplete">
                              <mat-option *ngFor="let option of filteredProvinces | async" [value]="option.name">
                                  {{option.name}}
                              </mat-option>
                          </mat-autocomplete>
                          <div class="invalid-feedback">
                              El campo provincia es obligatorio
                          </div>
                      </mat-form-field>
                  </div> -->
              </div>
              <div class="form-group valSreviewBajo">
                  <div class="form-group col-md-6">
                    <mat-form-field class="select2 form-control custom-select">
                      <mat-select placeholder="Ordenar por: " formControlName="order" id="order">
                        <mat-option value="">Nada</mat-option>
                        <mat-option value="MORE_RECIENTS">Más recientes</mat-option>
                        <mat-option value="MORE_OLDER">Más antiguas</mat-option>
                        <mat-option value="MORE_VALUE">Mejor valoradas</mat-option>
                        <mat-option value="LESS_VALUE">Peor valoradas</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <label style="margin-right: -25px; margin-top: 5px;" for="name">Calificacion: </label>
                  <div style="margin-right: 5px; width: 100px; margin-top: 5px;" class="starsReview marginStarsReview" id="starsReview">
                    <span class="starss_update" (click)="updateStars(1); cargarValoracionesPlace()"><i class="fas fa-star"></i></span>
                    <span class="starss_update" (click)="updateStars(2); cargarValoracionesPlace()"><i class="fas fa-star"></i></span>
                    <span class="starss_update" (click)="updateStars(3); cargarValoracionesPlace()"><i class="fas fa-star"></i></span>
                    <span class="starss_update" (click)="updateStars(4); cargarValoracionesPlace()"><i class="fas fa-star"></i></span>
                    <span class="starss_update" (click)="updateStars(5); cargarValoracionesPlace()"><i class="fas fa-star"></i></span>
                  </div>
              </div>
          </form>
      </div>
    </div>
    <input type="hidden" id="exNumber" value=""/>
      <div *ngIf="this.loading" class="content spinnerCSSMejorado2">
        <div class="spinner"></div>
      </div>
      <div class="tarjetaReview">
      <div *ngIf="totalValoraciones == 0">
        <p style="display: block; text-align: center;"> Este lugar no tiene valoraciones o no cumple con los filtros</p>
      </div>
        <div *ngFor="let revw of listaReviews; let i = index;" class="forCards">
            <div class="card">
                <div class="tituloReview">
                    <div>
                        <img src="{{dir}}/fotoperfil/{{revw.user.picture}}">
                        <h3 class="limitarLongitudNombre">{{revw.user.name}}</h3>
                        <div>
                            <span *ngFor="let i of arr(5);let indexOfelement=index;">
                                <i *ngIf="indexOfelement > revw.review-1" class="fa-solid fa-star" style="color:lightgray;"></i>
                                <i *ngIf="indexOfelement <= revw.review-1" class="fa-solid fa-star"style="color:#ff7600;"></i>
                            </span>
                        </div>
                    </div>
                    <p>{{revw.publicationDate | date : 'dd/MM/yyyy'}}</p>
                </div>
                <p *ngIf="this.searchForm.get('text').value.length == 0" class="ReviewsComments">{{revw.comment}}</p>
                <p *ngIf="this.searchForm.get('text').value.length > 0" [innerHTML]="this.listaReviews[i].comment" class="ReviewsComments"></p>
                <!--<p *ngIf="this.searchForm.get('text').value.length > 0" [innerHTML]="this.listaRevws[i].comment" class="ReviewsComments"></p>-->
                <div class="imagenesReview" (click)="loadPictures(revw.uid)">
                    <ng-container *ngIf="revw.pictures.length<=3">
                        <div *ngFor="let image of revw.pictures; let indexOfelement=index;" [ngClass]="{'imagenReviewUna': revw.pictures.length == 1, 'imagenReviewDos' : revw.pictures.length == 2, 'imagenReviewTres' : revw.pictures.length == 3, 'imagenReviewMas' : revw.pictures.length > 3 }">
                            <img *ngIf="indexOfelement<3" src="{{dir}}/fotoreview/{{image}}">
                        </div>
                    </ng-container>
                    <ng-container *ngIf="revw.pictures.length>3">
                        <div *ngFor="let f of [].constructor(numMaxFotos); let r = index" [ngClass]="{'imagenReviewUna': revw.pictures.length == 1, 'imagenReviewDos' : revw.pictures.length == 2, 'imagenReviewTres' : revw.pictures.length == 3, 'imagenReviewMas' : revw.pictures.length > 3 }">
                            <div *ngIf="r+1 == 3" class="ffffff">
                                <img src="{{dir}}/fotoreview/{{revw.pictures[r]}}">
                                <ng-container *ngIf="r+1 == 3">
                                    <p class="imagenUltimaMasReview">+{{revw.pictures.length}}</p>
                                </ng-container>
                            </div>
                            <ng-container *ngIf="r+1 < 3">
                                <img src="{{dir}}/fotoreview/{{revw.pictures[r]}}">
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
                <div class="iconosReview">
                    <div>
                        <!--<p>
                            <i class="fa-solid fa-thumbs-up" ></i>
                            {{revw.like}}
                        </p> -->
                        <ng-container *ngIf="revw.pictures.length <= 0">
                            <p>
                                <i class="fa-solid fa-image" ></i>
                                {{revw.pictures.length}}
                            </p>
                        </ng-container>
                    </div>
                    <div>
                        <!--<i style="margin-left: 10px;" class="fa fa-pencil text-caution fa-lg micursor pointClass" (click)="openModalEditValoracion('newvaloracion', review)"></i>
                        <i style="margin-left: 10px;" class="fa fa-trash text-danger fa-lg micursor pointClass" (click)="deleteReview(review.uid)"></i>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-pagination *ngIf="listaReviews.length > 0" class="paginacion_val" (cambiarPagina)="cambiarPaginaRevwsByPlace( $event )" [totalRegistros]="totalValoraciones" [registroActual]="posicionactual+1" [registrosPorPagina]="registresPerPage"></app-pagination>
