<!-- ============================================================== -->
<!-- Basic-->
<!-- ============================================================== -->
<!--<mat-card>
    <mat-card-content>
        <mat-card-title>Preguntas Frecuentes</mat-card-title>
        <mat-card-subtitle>Algunas preguntas tipicas que suelen hacer los usuarios </mat-card-subtitle>
        <mat-accordion>-->
<!--Pregunta 1-->
<!--  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title> <b>¿Cuantos pueblos tiene Towny?</b> </mat-panel-title>
                </mat-expansion-panel-header>
                <p>La idea es que tenga pueblos poco conocidos de todas partes de españa, si eres un ayuntamiento y quieres que tu pueblo aparezca ponte en contacto con nosotros con un correo a studiohalfy@gmail.com
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title> <b>¿Como puedo hacer que mi comercio aparezca?</b> </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Debes darte de alta como comerciante, una vez que lo hagas podrás mandarnos una solicitud con los datos de tu comercio para que lo metamos en el pueblo. Se deberá pagar un abono mensual para que este siga apareciendo.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title> <b>¿Como puedo crear un viaje?</b> </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Cualquier usuario puede crear un viaje desde la sección "Mis viajes". Simplemente deberás añadir al recorrido los lugares que quieras que compongan el viaje asi como la descripción de la ruta, nombre y una foto.
                </p>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card> -->

<div class="faqq">
<h1>Preguntas Frecuentes</h1>
<div class="row">
    <div class="col">

        <div class="tabs">
            <div class="tab">
                <input type="checkbox" id="chck1">
                <label class="tab-label" for="chck1">¿Cuantos pueblos tiene Towny?</label>
                <div class="tab-content">
                    La idea es que tenga pueblos poco conocidos de todas partes de españa, si eres un ayuntamiento y quieres que tu pueblo aparezca ponte en contacto con nosotros con un correo a studiohalfy@gmail.com
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" id="chck2">
                <label class="tab-label" for="chck2">¿Como puedo hacer que mi comercio aparezca?</label>
                <div class="tab-content">
                    Debes darte de alta como comerciante, una vez que lo hagas podrás mandarnos una solicitud con los datos de tu comercio para que lo metamos en el pueblo. Se deberá pagar un abono mensual para que este siga apareciendo.
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" id="chck3">
                <label class="tab-label" for="chck3">¿Como puedo crear un viaje?</label>
                <div class="tab-content">
                    Cualquier usuario puede crear un viaje desde la sección "Mis viajes". Simplemente deberás añadir al recorrido los lugares que quieras que compongan el viaje asi como la descripción de la ruta, nombre y una foto.
                </div>
            </div>
        </div>
    </div>
</div>
</div>