<body id="chatbot">
    <script type="text/javascript" src="/FrontEnd/src/assets/js/script.js"></script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AnswPVgCwxebusiX4nJAWUzMxj5WE6XF0guV_Do0fqXh0xqDO6jmdfqZ9YacQywJ' async defer></script>
    <!-- chatbot code -->
    <div id="mybot">
        <div class="chatCont" id="chatCont"></div>
        <div class="bot_profile">
            <div class="cloose">
                <p>TownyBot</p>
                <i class="fa fa-times" id="cerrar" aria-hidden="true"></i>
            </div>
        </div>
        <div id="result_div" class="resultDiv">
            <div id="myMap" style='position:relative;width:200px;height:200px;'></div>
        </div>
        <div class="chatForm" id="chat-div">
            <input type="text" id="chat-input" autocomplete="off" placeholder="Escriba aquí..." class="form-control bot-txt" />
        </div>
        <div class="profile_div">
            <div class="row">
                <div class="col-hgt col-sm-offset-2"></div>
            </div>
            <div class="col-hgt">
                <div class="chat-txt">
                </div>
            </div>
        </div>
    </div>





    <!--JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <img src="assets/js/chatbot.png" id="imgActivar" width="60px">
    <div class="wave"></div>


</body>
