<!--<footer>Towny By Halfy 2021 ©</footer>-->
<!-- Site footer -->

<footer class="footer-distributed" id="footerChido">

    <div class="footer-right">

        <a href="https://www.facebook.com/TownyByHalfy/"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/TownyByHalfy/"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/TownyByHalfy/"><i class="fab fa-instagram"></i></a>
        <a href="https://tiktok.com/@townybyhalfy"><i class="fab fa-tiktok"></i></a>

    </div>

    <div class="footer-left">

        <p class="footer-links">
            <a class="link-1" href="/">Inicio</a>

            <a href="https://towny.ovh/halfy">Sobre Nosotros</a>

            <a href="https://towny.ovh/halfy/contacto/">Contacto</a>

            <a href="https://towny.ovh/halfy/faq/">FAQ</a>

            <!--<a href="#">Contacto</a>-->
        </p>

        <p>Towny by Halfy &copy; 2021-2022</p>
    </div>

</footer>