.paginasion{
    align-items: center;
}

.paginacionBonita{
    background: #f0f0f0;
    padding: 5px 5px;
    border-radius: .8rem;
}

.page-item span{
    color: #ffa755;
    background: none;
    border: none;
    font-size: 18px;
    margin: 0 2px 0 2px;
    height: 30px;
    width: 30px;
    padding: 0;
    border-radius: .6rem;
    line-height: 31px;
    display: inline-block;
    text-align: center;
    transition: .2s all;
}

.page-item:hover span, .page-item.active:hover span{
    background: #ffa755;
    color: white;
}

.page-item.active span{
    background: white;
}