<!--<section class="main">
  <div class="wrapper">
      <div class="card">
          <div class="title">
              <h1>Verificar administrador</h1>
              <p class="title title-subs">Añade tu contraseña para darte de alta en el sistema</p>
          </div>
          <form class="form" (ngSubmit)="validateAdmin();" [formGroup]="validateAdminForm">
              <div class="form-group" style="margin-right: -19px;">
                  <input type="password" name="password" id="password" class="input-field" placeholder="Contraseña" formControlName="password" #passwordfield>
                  <span (click)="passwordfield.type=passwordfield.type=='password'?'text':'password';
                    repasswordfield.type=repasswordfield.type=='password'?'text':'password';"
                      class="fa fa-fw field-icon toggle-password"
                      [ngClass]="(passwordfield.type=='password')?' fa-eye':' fa-eye-slash'">
                    </span>
              </div>
              <div class="form-group">
                  <input (input)="validPassword()" type="password" name="repassword" id="repassword" class="input-field" placeholder="Repite Contraseña" formControlName="repassword" #repasswordfield>
              </div>
              <div class="password_valid">
                <p style="color: green; margin-bottom: 10px;" *ngIf="valid_password">La contraseña es válida</p>
                <p style="color: red; margin-bottom: 10px;" *ngIf="invalid_password">La contraseña no es válida </p>
              </div>
              <div class="form-group">
                  <button style="margin: auto;" name="submit" class="input-submit" [disabled]="waiting"> <i *ngIf="waiting" style="margin-right: 10px;" class="fas fa-circle-notch fa-spin"></i> Confirmar</button>
              </div>
          </form>
          <div class="errores_login">
              <p *ngIf="!campoValidoVerify('password')">El campo contraseña es obligatorio</p>
              <p *ngIf="!campoValidoVerify('repassword')">Debes repetir la contraseña</p>
          </div>
      </div>
  </div>
</section>
-->


<section class="main">
  <div class="wrapper">
      <div class="card">
          <div class="title">
              <div class="divVolver">
                  <h1>Verificar administrador</h1>
                  <a [routerLink]="!waiting ? '/' : null" (click)="borrarModal();" class="previous round">x</a>
              </div>
              <!--<p class="title title-subs">¿Ya tienes cuenta? <span><a href='./login' class="linktext">Iniciar sesión</a></span></p>
              <p class="title title-subs">¿Eres empresa? <span><a href='./registercommerce' class="linktext">Registrarse aquí</a></span></p>-->
          </div>
          <form class="form" (ngSubmit)="validateAdmin()" [formGroup]="validateAdminForm">
              <div class="form-group">
                  <label for="name">Contraseña *</label>
                  <input (focus)="hacerVisible();comprobarTodosChecks();" (input)="comprobarTodosChecks();hacerVisible();" (blur)="this.visible = false;" type="password" name="password" class="form-control" formControlName="password" [ngClass]="{'is-invalid' : !campoValidoRegister('password')}" id="password" #passwordfield>
                  <span (click)="passwordfield.type=passwordfield.type=='password'?'text':'password'" class="fa fa-fw field-icon toggle-password" [ngClass]="(passwordfield.type=='password')?' fa-eye':' fa-eye-slash'"></span>
                  <div *ngIf="visible" id="rules_password" class="pswd_info">
                      <h4>La contraseña debe incluir:</h4>
                          <ul>
                              <li data-criterion="length" class="invalid" id="longt_check" > <i *ngIf="this.length_password" class="fa-solid fa-check"></i> <i *ngIf="!this.length_password" class="fa-solid fa-close"></i> 8-15 <strong>Caracteres</strong></li>
                              <li data-criterion="minuscula" class="invalid" id="minus_check" > <i *ngIf="this.minus_chec" class="fa-solid fa-check"></i> <i *ngIf="!minus_chec" class="fa-solid fa-close"></i> Mínimo <strong>una letra minúscula</strong></li>
                              <li data-criterion="capital" class="invalid" id="mayus_check" > <i *ngIf="mayuss_check" class="fa-solid fa-check"></i> <i *ngIf="!mayuss_check" class="fa-solid fa-close"></i> Mínimo <strong>una letra mayúscula</strong></li>
                              <li data-criterion="number" class="invalid" id="number_check" > <i *ngIf="numbers_check" class="fa-solid fa-check"></i> <i *ngIf="!numbers_check" class="fa-solid fa-close"></i> Mínimo <strong>un número</strong></li>
                              <li data-criterion="caracter" class="invalid" id="caracter_check" > <i *ngIf="this.characters_check" class="fa-solid fa-check"></i> <i *ngIf="!this.characters_check" class="fa-solid fa-close"></i> Mínimo <strong>un caracter especial <br> <p style="text-align: right;">(!¡¿?_->%&·"@#][.)</p></strong></li>
                          </ul>
                  </div>
                  <div class="invalid-feedback">
                      La contraseña es obligatoria
                  </div>
              </div>
              <div class="form-group">
                  <label for="name">Repetir contraseña *</label>
                  <input (input)="equalPwd()" type="password" name="repassword" class="form-control" formControlName="repassword" [ngClass]="{'is-invalid' : !campoValidoRegister('repassword')}" id="repassword" #repasswordfield>
                  <div class="invalid-feedback">
                      La contraseña es obligatoria
                  </div>
              </div>
              <div class="password_valid">
                  <p style="color: green; margin-bottom: 10px;" *ngIf="this.lengthrepasword && valid_password">La contraseña es igual que la de arriba</p>
                  <p style="color: red; margin-bottom: 10px;" *ngIf="this.lengthrepasword && !valid_password">La contraseña es distinta que la de arriba </p>
              </div>
              <div class="form-group" style="text-align: center;">
                  <!--<input type="submit" name="submit" class="input-submit" value="Registrarse">-->
                  <button name="submit" class="input-submit" [disabled]="waiting || !campoValidoRegister('email')"> <i *ngIf="waiting" style="margin-right: 10px;" class="fas fa-circle-notch fa-spin"></i> Registrarse</button>
              </div>
          </form>
      </div>
  </div>
</section>
