<script>
    $(document).ready(function() {
        $('.js-example-basic-single').select2();
    });
</script>

<div class="animate__animated animate__fadeInRight animate__faster" [class]="this.uid === 'nuevo' ? '' : 'puebloMix'">
    <div class="d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                <div>
                    <button type="button" class="btn btn-rounded btn-back" routerLink="/admin/reviews"><span class="btn-icon-start text-back"><i class="fa fa-arrow-left fa-xs"></i></span>Volver</button>
                </div>
                <!-- Formulario para cuando se crea una nueva valoracion-->
                <div *ngIf="wait_form" class="content spinnerCSSMejorado">
                    <div class="spinner">
                    </div>
                </div>

                <form *ngIf="this.uid === 'nuevo' && !wait_form" class="form-horizontal m-t-20" [formGroup]="datosFormNew" (ngSubmit)="newReview()">

                    <div class="dosMismaFila margLeftRight">
                        <div class="form-group mitad50">
                            <label for="place">Lugar *</label>
                            <input (keyup)="selectProvinceTrueKey($event)" (input)="selectProvince()" id="place"
                            class="form-control" [ngClass]="{'is-invalid' : this.select_province }"
                            (input)="cargarLugares()" type="text"
                            formControlName="place"
                            [formControl]="filterPlaces"
                            [matAutocomplete]="auto">
                            <mat-autocomplete style="border-radius: 20px; border: 2px solid #f1f2f3;" #auto="matAutocomplete">
                                <mat-option (click)="selectProvinceTrue()" *ngFor="let option of filteredOptions | async" [value]="option.name">
                                    {{option.name}}
                                </mat-option>
                            </mat-autocomplete>
                            <div class="invalid-feedback">
                              Seleccione un lugar de la lista
                            </div>
                        </div>
                        <div class="form-group mitad50">
                            <label for="name">Calificacion *</label>
                            <input type="number" min="1" max="5" class="form-control" formControlName="review" [ngClass]="{'is-invalid' : campoNoValidoNew('review')}" id="review">
                            <div class="invalid-feedback">
                                El campo calificacion es obligatorio y debe ser un valor numerico entre 1 y 5
                            </div>
                        </div>
                    </div>

                    <div class="form-group margLeftRight">
                        <label for="name">Comentario</label>
                        <textarea class="form-control" formControlName="comment" [ngClass]="{'is-invalid' : campoNoValidoNew('comment')}" id="comment" rows="3"></textarea>
                        <div class="invalid-feedback">
                            El campo comentario es obligatorio
                        </div>
                    </div>

                    <div class="form-group margLeftRight">
                        <label for="name">Fotos</label>
                        <input type="file" (change)="fileChange($event)" class="form-control" multiple="multiple" formControlName="pictures" [ngClass]="{'is-invalid' : campoNoValidoNew('pictures')}" aria-describedby="inputGroupFileAddon01" name="file" id="fotosubidas">
                        <div class="invalid-feedback">
                          Las fotos son obligatorias y tienen que ser ficheros en formato jpg, png o jpeg
                        </div>
                    </div>

                    <!-- FORMULARIO VIEJO
                    <div class="row m-t-10">
                        <div class="col-lg-3 col-md-12 text-lg-right">
                            <span class="">Comentario</span>
                        </div>
                        <div class="col-lg-8 col-md-12">
                            <textarea type="form-control" class="form-control" formControlName="comment" [ngClass]="{'is-invalid' : campoNoValidoNew('comment')}" id="comment" rows="3">
                            </textarea>
                            <div class="invalid-feedback">
                                El campo comentario es obligatorio
                            </div>
                        </div>
                    </div>

                    <div class="row m-t-10">
                        <div class="col-lg-3 col-md-12 text-lg-right">
                            <span class="">Calificacion</span>
                        </div>
                        <div class="col-lg-8 col-md-12">
                            <input type="number" class="form-control" formControlName="review" [ngClass]="{'is-invalid' : campoNoValidoNew('review')}" id="review">
                            <div class="invalid-feedback">
                                El campo calificación es obligatorio y debe ser un valor numérico entre 1 y 5
                            </div>
                        </div>
                    </div>
                    <div class="row m-t-10">
                      <mat-form-field class="col-lg-8 col-md-12" appearance="outline">
                        <mat-label>Lugar de interés</mat-label>
                        <input [ngClass]="{'is-invalid' : campoNoValidoNew('place')}" (input)="cargarLugares()" type="text"
                              placeholder="Seleccione un lugar de interés"
                              aria-label="Lugar de interés"
                              matInput
                              formControlName="place"
                              [formControl]="filterPlaces"
                              [matAutocomplete]="auto">
                        <mat-autocomplete style="border-radius: 20px; border: 2px solid #f1f2f3;" #auto="matAutocomplete">
                          <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
                            {{option.name}}
                          </mat-option>
                        </mat-autocomplete>
                        <div class="invalid-feedback">
                          El campo provincia es obligatorio
                        </div>
                      </mat-form-field>
                    </div>

                    <div class="row m-t-10">
                      <div class="col-lg-3 col-md-12 text-lg-right">
                          <span class="">Fotos</span>
                      </div>
                      <div class="col-lg-8 col-md-12">
                        <input type="file" (change)="fileChange($event)" class="form-control" multiple="multiple" formControlName="pictures" [ngClass]="{'is-invalid' : campoNoValidoNew('pictures')}" aria-describedby="inputGroupFileAddon01" name="file" id="fotosubidas">
                        <div class="invalid-feedback">
                            El campo fotos es obligatorio y tienen que ser ficheros en formato jpg, png o jpeg
                        </div>
                      </div>
                    </div> -->

                    <div class="d-flex justify-content-center m-t-10 ">
                        <div class="align-content-center ">
                            <button class="btn btn-primary m-r-20 " type="submit " id="enviar" [disabled]="datosFormNew.pristine"> <i *ngIf="waiting" style="margin-right: 10px;" class="fas fa-circle-notch fa-spin"></i> Enviar</button>
                            <button class="btn btn-danger " type="button" (click)="cancelar()" id="cancelar" [disabled]="datosFormNew.pristine">Cancelar</button>
                        </div>
                    </div>
                </form>

                <!-- Formulario para cuando se edita la valoracion-->
                <form *ngIf="this.uid !== 'nuevo'" class="form-horizontal m-t-20" [formGroup]="datosForm" (ngSubmit)="enviar()">

                    <div class="form-group margLeftRight">
                        <label for="name">UID *</label>
                        <input type="text" class="form-control" formControlName="uid" id="uid">
                    </div>

                    <div class="form-group margLeftRight">
                        <label for="town">Provincia *</label>
                        <input (keyup)="selectProvinceTrueKey($event)" (input)="selectProvince()" id="place"
                        class="form-control" [ngClass]="{'is-invalid' : this.select_province }"
                        (input)="cargarLugares()" type="text"
                        formControlName="place"
                        [formControl]="filterPlaces"
                        [matAutocomplete]="auto">
                        <mat-autocomplete style="border-radius: 20px; border: 2px solid #f1f2f3;" #auto="matAutocomplete">
                            <mat-option (click)="selectProvinceTrue()" *ngFor="let option of filteredOptions | async" [value]="option.name">
                                {{option.name}}
                            </mat-option>
                        </mat-autocomplete>
                        <div class="invalid-feedback">
                            El lugar es obligatorio
                        </div>
                    </div>

                    <div class="form-group margLeftRight">
                        <label for="name">Calificacion *</label>
                        <input type="number" min="1" max="5" class="form-control" formControlName="review" [ngClass]="{'is-invalid' : campoNoValido('review')}" id="review">
                        <div class="invalid-feedback">
                            El campo calificacion es obligatorio y debe ser un valor numerico entre 1 y 5
                        </div>
                    </div>

                    <div class="form-group margLeftRight">
                        <label for="name">Comentario</label>
                        <textarea class="form-control" formControlName="comment" [ngClass]="{'is-invalid' : campoNoValido('comment')}" id="comment" rows="3"></textarea>
                        <div class="invalid-feedback">
                            El campo comentario es obligatorio
                        </div>
                    </div>

                    <!-- FORMULARIO VIEJO
                  <div class="row m-t-10">
                      <div class="col-lg-3 col-md-12 text-lg-right">
                          <span class="">UID</span>
                      </div>
                      <div class="col-lg-8 col-md-12">
                          <input type="text" class="form-control" formControlName="uid" id="uid">
                      </div>
                  </div>
                  <div class="row m-t-10">
                      <div class="col-lg-3 col-md-12 text-lg-right">
                          <span class="">Comentario</span>
                      </div>
                      <div class="col-lg-8 col-md-12">
                          <textarea type="form-control" class="form-control" formControlName="comment" [ngClass]="{'is-invalid' : campoNoValido('comment')}" id="comment" rows="3">
                          </textarea>
                          <div class="invalid-feedback">
                              El campo comentario es obligatorio
                          </div>
                      </div>
                  </div>

                  <div class="row m-t-10">
                      <div class="col-lg-3 col-md-12 text-lg-right">
                          <span class="">Calificacion</span>
                      </div>
                      <div class="col-lg-8 col-md-12">
                          <input type="number" class="form-control" formControlName="review" [ngClass]="{'is-invalid' : campoNoValido('review')}" id="review">
                          <div class="invalid-feedback">
                              El campo calificación es obligatorio y debe ser un valor numérico entre 1 y 5
                          </div>
                      </div>
                  </div>
                  <div class="row m-t-10">
                    <mat-form-field class="col-lg-8 col-md-12" appearance="outline">
                      <mat-label>Lugar de interés</mat-label>
                      <input [ngClass]="{'is-invalid' : campoNoValido('place')}" (input)="cargarLugares()" type="text"
                            placeholder="Seleccione un lugar de interés"
                            aria-label="Lugar de interés"
                            matInput
                            formControlName="place"
                            [formControl]="filterPlaces"
                            [matAutocomplete]="auto">
                      <mat-autocomplete style="border-radius: 20px; border: 2px solid #f1f2f3;" #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
                          {{option.name}}
                        </mat-option>
                      </mat-autocomplete>
                      <div class="invalid-feedback">
                        El campo provincia es obligatorio
                      </div>
                    </mat-form-field>
                  </div> -->

                    <div class="d-flex justify-content-center m-t-10 ">
                        <div class="align-content-center ">
                            <button class="btn btn-primary m-r-20 " type="submit " id="enviar" [disabled]="datosForm.pristine"> <i *ngIf="waiting" style="margin-right: 10px;" class="fas fa-circle-notch fa-spin"></i> Enviar</button>
                            <button class="btn btn-danger " type="button" (click)="cancelar()" id="cancelar" [disabled]="datosForm.pristine">Cancelar</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="fotosArea">
        <!-- Div donde se muestra el carusel de imagenes-->
        <div *ngIf="this.uid != 'nuevo'" class="d-flex justify-content-center">
            <div class="card">
                <div class="card-body">
                    <h2 style="text-align: center;">Imágenes totales</h2>
                    <div *ngIf="totalFotos > 0" class="">
                        <div class="form-group row m-t-10">
                            <div class="col-lg-12 col-md-12">
                                <div class="text-center">
                                    <div style="display: block; margin: auto;" *ngIf="cargar_imagen" class="content spinnerCSSMejorado">
                                        <div class="spinner"></div>
                                    </div>
                                    <img style="display: block; margin: auto; max-height: 180px; width: auto; height: auto;" [src]="namefile" width="400" min-height="400" max-height="400">
                                    <i (click)="confirmDeletePhoto();" class="fa fa-times borrarFoto" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <p style="text-align: center;">
                            <i *ngIf="iconoAtras" (click)="cambiarFotosAtras();" style="margin-right: 10px;" class="fas fa-arrow-left"></i> Foto: {{numFoto}} de {{totalFotos}}
                            <i *ngIf="iconoAlante" (click)="cambiarFotosAlante();" style="margin-left: 10px;" class="fas fa-arrow-right"></i>
                        </p>
                    </div>

                    <div *ngIf="!wait_form && totalFotos == 0" class="">
                        <div class="form-group row m-t-10">
                            <div class="col-lg-12 col-md-12">
                                <div class="text-center">
                                    <p>No hay imágenes de esta valoración</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Div para subir imagenes -->
        <div style="margin-top: 10px;" *ngIf="this.uid != 'nuevo'" class="d-flex justify-content-center">
            <div class="card">
                <div class="card-body">
                    <h2>Imagenes</h2>
                    <div class="">
                        <form class="form-horizontal m-t-20" (submit)="upload();" enctype="multipart/form-data">
                            <div class="d-flex justify-content-center m-t-10 ">
                                <div class="form-group row m-t-10">
                                    <div class="col-lg-3 text-lg-right">
                                        <span class=" ">Imagen</span>
                                    </div>
                                    <div class="col-lg-8 col-md-12">
                                        <div class="custom-file">
                                            <input type="file" (change)="fileChange($event)" class="custom-file-input" multiple="multiple" aria-describedby="inputGroupFileAddon01" name="file" id="fotosubidas">
                                            <label class="custom-file-label" for="fotoreview" data-browse="Elegir">{{nameFileForm}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center m-t-10 ">
                                <div class="align-content-center ">
                                    <!--  <button class="btn btn-primary m-r-20 " type="submit" id="enviar"> Añadir imagen</button> -->
                                    <button class="btn btn-primary m-r-20 " type="submit" id="enviar" [disabled]="this.uploadedFiles.length === 0"> <i *ngIf="waiting_pictures" style="margin-right: 10px;" class="fas fa-circle-notch fa-spin"></i> Enviar</button>
                                    <button class="btn btn-danger " (click)="cancelUpdatePictures();" [disabled]="this.uploadedFiles.length === 0">Cancelar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
