<script>
    $(document).ready(function() {
        $('.js-example-basic-single').select2();
    });
</script>

<div class="animate__animated animate__fadeInRight animate__faster" [class]="this.uid === 'nuevo' ? '' : 'puebloMix'">
    <div class="d-flex justify-content-center">
        <div class="card">
            <div class="card-body">

                <div>
                    <button type="button" class="btn btn-rounded btn-back" routerLink="/admin/places"><span class="btn-icon-start text-back"><i class="fa fa-arrow-left fa-xs"></i></span>Volver</button>
                </div>

                <!-- Div para crear un nuevo lugar -->
                <div *ngIf="wait_form" class="content spinnerCSSMejorado">
                  <div class="spinner">
                  </div>
                </div>

                <form *ngIf="this.uid === 'nuevo' && !wait_form" class="form-horizontal m-t-20" [formGroup]="datosFormNew" (ngSubmit)="newPlace()">

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="name">Nombre *</label>
                            <input type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid' : campoNoValidoNew('name')}" id="name">
                                <div class="invalid-feedback">
                                    El nombre es obligatorio
                                </div>
                        </div>
                        <!--<div class="form-group col-md-6">
                            <label for="town">Pueblo *</label>
                            <select class="select2 form-control custom-select" name="Elige Pueblo" formControlName="town" [ngClass]="{'is-invalid' : campoNoValidoNew('town')}" id="town">
                                <option [value]="item.uid" *ngFor="let item of listaRegistros">{{item.name}}</option>
                            </select>
                                <div class="invalid-feedback">
                                El pueblo es obligatorio
                                </div>
                        </div> -->
                        <div class="form-group col-md-6">
                          <label for="town">Pueblo *</label>
                          <input (keyup)="selectProvinceTrueKey($event)" (input)="selectProvince()" id="town"
                            class="form-control" [ngClass]="{'is-invalid' : this.select_province }"
                            (input)="cargarPueblos()" type="text"
                            formControlName="town"
                            [formControl]="filterTowns"
                            [matAutocomplete]="auto">
                          <mat-autocomplete style="border-radius: 20px; border: 2px solid #f1f2f3;" #auto="matAutocomplete">
                              <mat-option (click)="selectProvinceTrue()" *ngFor="let option of filteredOptions | async" [value]="option.name">
                                {{option.name}}
                              </mat-option>
                            </mat-autocomplete>
                              <div class="invalid-feedback">
                                Seleccione un pueblo de la lista
                              </div>
                       </div>
                    </div>
                    <div class="form-group ">
                        <label for="description">Descripción</label>
                        <textarea type="form-control" class="form-control" formControlName="description" id="description" rows="3">
                        </textarea>
                    </div>

                <div class="form-row">

                    <div class="form-group col-md-7">
                        <label for="location">Calle *</label>
                        <input type="text" class="form-control" formControlName="location" [ngClass]="{'is-invalid' : campoNoValidoNew('location')}" id="location">
                        <div class="invalid-feedback">
                            La localización es obligatoria y tiene que ser una ubicación válida
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="location">Número *</label>
                        <input type="text" class="form-control" formControlName="location" [ngClass]="{'is-invalid' : campoNoValidoNew('location')}" id="location">

                    </div>
                    <div class="form-group col-md-3">
                        <label for="location">Código Postal *</label>
                        <input type="number" class="form-control" formControlName="location" [ngClass]="{'is-invalid' : campoNoValidoNew('location')}" id="location">
                    </div>
                </div>

                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label for="mobile_number">Núm. Teléfono *</label>
                        <input type="tel" class="form-control" formControlName="mobile_number" [ngClass]="{'is-invalid' : campoNoValidoNew('mobile_number')}" id="mobile_number">
                            <div class="invalid-feedback">
                                El teléfono es obligatorio y tiene que ser un número de telefono
                            </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="town">Tipo *</label>
                      <mat-form-field class="select2 form-control custom-select">
                        <mat-select formControlName="type" [ngClass]="{'is-invalid' : campoNoValidoNew('type')}" id="type">
                          <mat-option value="RESTAURANT">Restauracion</mat-option>
                          <mat-option value="CHURCH_PLACES">Lugares de culto</mat-option>
                          <mat-option value="MONUMENTS">Monumentos</mat-option>
                          <mat-option value="GREEN_ZONE">Zonas verdes</mat-option>
                          <mat-option value="ENTERTAINMENT">Entretenimiento</mat-option>
                          <mat-option value="COMMERCES">Comercios</mat-option>
                          <mat-option value="ART_AND_CULTURE">Arte y cultura</mat-option>
                        </mat-select>
                      </mat-form-field>
                        <div class="invalid-feedback">
                          El tipo es obligatorio
                        </div>
                    </div>
                    <!--<div class="form-group col-md-3">
                      <label for="town">Tipo *</label>
                      <select class="select2 form-control custom-select" formControlName="type" [ngClass]="{'is-invalid' : campoNoValidoNew('type')}" id="type">
                          <option value="RESTAURANT">Restauracion</option>
                          <option value="CHURCH_PLACES">Lugares de culto</option>
                          <option value="MONUMENTS">Monumentos</option>
                          <option value="GREEN_ZONE">Zonas verdes</option>
                          <option value="ENTERTAINMENT">Entretenimiento</option>
                          <option value="COMMERCES">Comercios</option>
                          <option value="ART_AND_CULTURE">Arte y cultura</option>
                      </select>
                        <div class="invalid-feedback">
                          El tipo es obligatorio
                        </div>
                    </div> -->
                    <!--
                      'RESTAURANT', 'MONUMENTS', 'GREEN_ZONE', 'ENTERTAINMENT', 'COMMERCES', 'ART_AND_CULTURE', 'CHURCH_PLACES'
                      <div class="form-group col-md-3">
                        <label for="type">Tipo *</label>
                        <input type="text" class="form-control" formControlName="type" [ngClass]="{'is-invalid' : campoNoValidoNew('type')}" id="type">
                            <div class="invalid-feedback">
                                El tipo es obligatorio
                            </div>
                    </div> -->
                    <div class="form-group col-md-6">
                        <label for="web">Web</label>
                        <input type="text" class="form-control" formControlName="web" id="web">
                    </div>
                    <div class="form-group col-md-6">
                          <label for="schedule">Horario</label>
                          <input type="text" class="form-control" formControlName="schedule" id="schedule">
                    </div>
                </div>
                    <div class="form-group ">
                        <label for="fotosubidas">Fotos *</label>
                        <input type="file" (change)="fileChange($event)" class="form-control" multiple="multiple" formControlName="pictures" [ngClass]="{'is-invalid' : campoNoValidoNew('pictures')}" aria-describedby="inputGroupFileAddon01" name="file" id="fotosubidas">
                        <div class="invalid-feedback">
                            Las fotos son obligatorias y tienen que ser ficheros en formato jpg, png o jpeg
                        </div>
                    </div>

                    <script type="text/javascript">
                        $(document).ready(function() {
                            $('#province').select2({
                                width: '300%'
                            });
                        });
                    </script>
                    <div class="d-flex justify-content-center m-t-10 ">
                        <div class="align-content-center ">
                            <button class="btn btn-primary m-r-20 " type="submit " id="enviar" [disabled]="datosFormNew.pristine"> <i *ngIf="waiting" style="margin-right: 10px;" class="fas fa-circle-notch fa-spin"></i> Enviar</button>
                            <button class="btn btn-danger " type="button" (click)="cancelar()" id="cancelar" [disabled]="datosFormNew.pristine">Cancelar</button>
                        </div>
                    </div>
                </form>


                <form *ngIf="this.uid !== 'nuevo'" class="form-horizontal m-t-20" [formGroup]="datosForm" (ngSubmit)="enviar()">

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="name">Nombre *</label>
                            <input type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid' : campoNoValido('name')}" id="name">
                                <div class="invalid-feedback">
                                    El nombre es obligatorio
                                </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="town">Pueblo *</label>
                            <input (keyup)="selectProvinceTrueKey($event)" (input)="selectProvince()" id="town"
                              class="form-control" [ngClass]="{'is-invalid' : this.select_province }"
                              (input)="cargarPueblos()" type="text"
                              formControlName="town"
                              [formControl]="filterTowns"
                              [matAutocomplete]="auto">
                            <mat-autocomplete style="border-radius: 20px; border: 2px solid #f1f2f3;" #auto="matAutocomplete">
                                <mat-option (click)="selectProvinceTrue()" *ngFor="let option of filteredOptions | async" [value]="option.name">
                                  {{option.name}}
                                </mat-option>
                              </mat-autocomplete>
                                <div class="invalid-feedback">
                                  Seleccione un pueblo de la lista
                                </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="description">Descripción</label>
                        <textarea type="form-control" class="form-control" formControlName="description" id="description" rows="3">
                        </textarea>
                    </div>

                <div class="form-row">

                    <div class="form-group col-md-7">
                        <label for="location">Calle *</label>
                        <input type="text" class="form-control" formControlName="location" [ngClass]="{'is-invalid' : campoNoValido('location')}" id="location">
                        <div class="invalid-feedback">
                            La localización es obligatoria y tiene que ser una ubicación válida
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="location">Número *</label>
                        <input type="text" class="form-control" formControlName="location" [ngClass]="{'is-invalid' : campoNoValido('location')}" id="location">

                    </div>
                    <div class="form-group col-md-3">
                        <label for="location">Código Postal *</label>
                        <input type="number" class="form-control" formControlName="location" [ngClass]="{'is-invalid' : campoNoValido('location')}" id="location">
                    </div>
                </div>

                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label for="mobile_number">Núm. Teléfono *</label>
                        <input type="tel" class="form-control" formControlName="mobile_number" [ngClass]="{'is-invalid' : campoNoValido('mobile_number')}" id="mobile_number">
                            <div class="invalid-feedback">
                                El teléfono es obligatorio y tiene que ser un número de telefono
                            </div>
                    </div>

                    <div class="form-group col-md-6">
                      <label for="type">Tipo *</label>
                      <mat-form-field class="select2 form-control custom-select">
                        <mat-select [(value)]="selectedOption" formControlName="type" [ngClass]="{'is-invalid' : campoNoValido('type')}" id="type">
                          <mat-option value="RESTAURANT">Restauracion</mat-option>
                          <mat-option value="CHURCH_PLACES">Lugares de culto</mat-option>
                          <mat-option value="MONUMENTS">Monumentos</mat-option>
                          <mat-option value="GREEN_ZONE">Zonas verdes</mat-option>
                          <mat-option value="ENTERTAINMENT">Entretenimiento</mat-option>
                          <mat-option value="COMMERCES">Comercios</mat-option>
                          <mat-option value="ART_AND_CULTURE">Arte y cultura</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <!--<select class="select2 form-control custom-select" formControlName="type" [ngClass]="{'is-invalid' : campoNoValido('type')}" id="type">
                          <option value="RESTAURANT">Restauracion</option>
                          <option value="CHURCH_PLACES">Lugares de culto</option>
                          <option value="MONUMENTS">Monumentos</option>
                          <option value="GREEN_ZONE">Zonas verdes</option>
                          <option value="ENTERTAINMENT">Entretenimiento</option>
                          <option value="COMMERCES">Comercios</option>
                          <option value="ART_AND_CULTURE">Arte y cultura</option>
                      </select>-->
                        <div class="invalid-feedback">
                          El tipo es obligatorio
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="web">Web</label>
                        <input type="text" class="form-control" formControlName="web" id="web">
                    </div>
                    <div class="form-group col-md-6">
                            <label for="schedule">Horario</label>
                            <input type="text" class="form-control" formControlName="schedule" id="schedule">
                    </div>
                </div>

                <!-- ANTIGUO FORMULARIO
                    <div class="row m-t-10">
                      <div class="col-lg-3 col-md-12 text-lg-right">
                          <span class="">UID</span>
                      </div>
                      <div class="col-lg-8 col-md-12">
                          <input type="text" class="form-control" formControlName="uid" id="uid">
                      </div>
                  </div>
                  <div class="row m-t-10">
                      <div class="col-lg-3 col-md-12 text-lg-right">
                          <span class="">Nombre</span>
                      </div>
                      <div class="col-lg-8 col-md-12">
                          <input type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid' : campoNoValido('name')}" id="name">
                          <div class="invalid-feedback">
                              El campo nombre es obligatorio
                          </div>
                      </div>
                  </div>
                  <div class="row m-t-10">
                      <div class="col-lg-3 col-md-12 text-lg-right">
                          <span class="">Localización</span>
                      </div>
                      <div class="col-lg-8 col-md-12">
                          <input type="text" class="form-control" formControlName="location" [ngClass]="{'is-invalid' : campoNoValido('location')}" id="location">
                          <div class="invalid-feedback">
                              El campo localización es obligatorio y tiene que ser una ubicación válida
                          </div>
                      </div>
                  </div>
                  <div class="row m-t-10">
                      <div class="col-lg-3 col-md-12 text-lg-right">
                          <span class="">Num. Telefono</span>
                      </div>
                      <div class="col-lg-8 col-md-12">
                          <input type="text" class="form-control" formControlName="mobile_number" [ngClass]="{'is-invalid' : campoNoValido('mobile_number')}" id="mobile_number">
                          <div class="invalid-feedback">
                              El campo teléfono es obligatorio y debe de ser un número de teléfono válido
                          </div>
                      </div>
                  </div>
                  <div class="row m-t-10">
                      <div class="col-lg-3 col-md-12 text-lg-right">
                          <span class="">Descripción</span>
                      </div>
                      <div class="col-lg-8 col-md-12">
                          <textarea type="form-control" class="form-control" formControlName="description" id="description" rows="3">
                          </textarea>
                      </div>
                  </div>
                  <div class="row m-t-10">
                      <div class="col-lg-3 col-md-12 text-lg-right">
                          <span class="">Tipo</span>
                      </div>
                      <div class="col-lg-8 col-md-12">
                          <input type="text" class="form-control" formControlName="type" [ngClass]="{'is-invalid' : campoNoValido('type')}" id="type">
                          <div class="invalid-feedback">
                              El campo tipo es obligatorio
                          </div>
                      </div>
                  </div>
                  <div class="row m-t-10">
                      <div class="col-lg-3 col-md-12 text-lg-right">
                          <span class="">Web</span>
                      </div>
                      <div class="col-lg-8 col-md-12">
                          <input type="text" class="form-control" formControlName="web" id="web">

                      </div>
                  </div>
                  <div class="row m-t-10">
                      <div class="col-lg-3 col-md-12 text-lg-right">
                          <span class="">Horario</span>
                      </div>
                      <div class="col-lg-8 col-md-12">
                          <input type="text" class="form-control" formControlName="schedule" id="schedule">

                      </div>
                  </div>

                  <div class="row m-t-10">
                    <mat-form-field class="col-lg-8 col-md-12" appearance="outline">
                      <mat-label>Pueblo</mat-label>
                      <input [ngClass]="{'is-invalid' : campoNoValido('town')}" (input)="cargarPueblos()" type="text"
                            placeholder="Seleccione un pueblo con encanto"
                            aria-label="Pueblo"
                            matInput
                            formControlName="town"
                            [formControl]="filterTowns"
                            [matAutocomplete]="auto">
                      <mat-autocomplete style="border-radius: 20px; border: 2px solid #f1f2f3;" #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
                          {{option.name}}
                        </mat-option>
                      </mat-autocomplete>
                      <div class="invalid-feedback">
                        El campo pueblo es obligatorio
                      </div>
                    </mat-form-field>
                  </div> -->

                  <script type="text/javascript">
                      $(document).ready(function() {
                          $('#province').select2({
                              width: '300%'
                          });
                      });
                  </script>



                  <div class="d-flex justify-content-center m-t-10 ">
                      <div class="align-content-center ">
                          <button class="btn btn-primary m-r-20 " type="submit " id="enviar" [disabled]="datosForm.pristine"> <i *ngIf="waiting" style="margin-right: 10px;" class="fas fa-circle-notch fa-spin"></i> Enviar</button>
                          <button class="btn btn-danger " type="button" (click)="cancelar()" id="cancelar" [disabled]="datosForm.pristine">Cancelar</button>
                      </div>
                  </div>
              </form>

            </div>
        </div>
    </div>
    <div class="fotosArea">
    <!-- Div donde se muestra el carusel de imagenes-->
    <div *ngIf="this.uid != 'nuevo'" class="d-flex justify-content-center">
      <div class="card">
          <div class="card-body">
              <h2 style="text-align: center;">Imágenes totales</h2>
              <div *ngIf="totalFotos > 0" class="">
                  <div class="form-group row m-t-10">
                      <div class="col-lg-12 col-md-12">
                        <div class="text-center">
                          <div style="display: block; margin: auto;" *ngIf="cargar_imagen" class="content spinnerCSSMejorado"><div class="spinner"></div></div>
                          <img style="display: block; margin: auto; max-height: 253px; width: auto; height: auto;" [src]="namefile">
                          <i (click)="confirmDeletePhoto();" class="fa fa-times borrarFoto" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <p style="text-align: center;">
                  <i *ngIf="iconoAtras" (click)="cambiarFotosAtras();" style="margin-right: 10px;" class="fas fa-arrow-left"></i>
                      Foto: {{numFoto}} de {{totalFotos}}
                  <i *ngIf="iconoAlante" (click)="cambiarFotosAlante();" style="margin-left: 10px;" class="fas fa-arrow-right"></i>
                </p>
            </div>

            <div *ngIf="!wait_form && totalFotos == 0" class="">
              <div class="form-group row m-t-10">
                  <div class="col-lg-12 col-md-12">
                    <div class="text-center">
                      <p>No hay imágenes de este lugar</p>
                    </div>
                </div>
              </div>
            </div>

          </div>
      </div>
  </div>
  <!-- Div para subir imagenes -->
    <div style="margin-top: 10px;" *ngIf="this.uid != 'nuevo'" class="d-flex justify-content-center">
      <div class="card">
          <div class="card-body">
              <h2>Imagenes</h2>
              <div class="">
              <form class="form-horizontal m-t-20" (submit)="upload();" enctype="multipart/form-data">
                  <div class="d-flex justify-content-center m-t-10 ">
                      <div class="form-group row m-t-10">
                        <div class="col-lg-3 text-lg-right">
                            <span class=" ">Imagen</span>
                        </div>
                        <div class="col-lg-8 col-md-12">
                            <div class="custom-file">
                                <input type="file" (change)="fileChange($event)" class="custom-file-input" multiple="multiple" aria-describedby="inputGroupFileAddon01" name="file" id="fotosubidas">
                                <label class="custom-file-label" for="fotoperfil" data-browse="Elegir">{{nameFileForm}}</label>
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="d-flex justify-content-center m-t-10 ">
                      <div class="align-content-center ">
                      <!--  <button class="btn btn-primary m-r-20 " type="submit" id="enviar"> Añadir imagen</button> -->
                        <button class="btn btn-primary m-r-20 " type="submit" id="enviar" [disabled]="this.uploadedFiles.length === 0"> <i *ngIf="waiting_picture" style="margin-right: 10px;" class="fas fa-circle-notch fa-spin"></i> Enviar</button>
                        <button class="btn btn-danger " (click)="cancelUpdatePictures();" [disabled]="this.uploadedFiles.length === 0">Cancelar</button>
                      </div>
                  </div>
              </form>
            </div>
          </div>
      </div>
  </div>
</div>
</div>
