<section class="main">
  <div class="wrapper">
    <div class="card">
        <div class="title">
          <div class="divVolver">
              <h1>Cambiar contraseña</h1>
              <a [routerLink]="!waiting ? '/' : null"  mat-dialog-close class="previous round">x</a>
          </div>
        </div>
            <form class="form" [formGroup]="nuevoPassword" (submit)="changePassword()">
                <div class="form-group">
                  <label for="email">Email *</label>
                  <input type="email" name="email" class="form-control" formControlName="email" id="email">
                  <div class="invalid-feedback">
                      El email es obligatorio y debe ser válido
                  </div>
                </div>
                <div class="form-group mt-3">
                    <label for="password">Contraseña antigua *</label>
                    <input (input)="comprobarValidPWD();" formControlName="old_password" type="password" class="form-control" id="passwordd" #old_passwordfield>
                    <span (click)="old_passwordfield.type=old_passwordfield.type=='password'?'text':'password'"
                                   class="fa fa-fw field-icon toggle-password"
                      [ngClass]="(old_passwordfield.type=='password')?' fa-eye':' fa-eye-slash'">
                    </span>
                </div>

                <div class="form-group mt-3">
                  <label for="name">Nueva contraseña *</label>
                  <input (focus)="hacerVisible();comprobarTodosChecks();comprobarValidPWD();" (input)="comprobarTodosChecks();hacerVisible();comprobarValidPWD();" (blur)="this.visible = false;" formControlName="password" type="password" class="form-control" id="nuevopassword" #newpasswordfield>
                  <span (click)="newpasswordfield.type=newpasswordfield.type=='password'?'text':'password'"
                                      class="fa fa-fw field-icon toggle-password"
                      [ngClass]="(newpasswordfield.type=='password')?' fa-eye':' fa-eye-slash'">
                    </span>
                  <div *ngIf="visible" id="rules_password" class="pswd_info">
                      <h4>La contraseña debe incluir:</h4>
                          <ul>
                              <li data-criterion="length" class="invalid" id="longt_check" > <i *ngIf="this.length_password" class="fa-solid fa-check"></i> <i *ngIf="!this.length_password" class="fa-solid fa-close"></i> 8-15 <strong>Caracteres</strong></li>
                              <li data-criterion="minuscula" class="invalid" id="minus_check" > <i *ngIf="this.minus_chec" class="fa-solid fa-check"></i> <i *ngIf="!minus_chec" class="fa-solid fa-close"></i> Mínimo <strong>una letra minúscula</strong></li>
                              <li data-criterion="capital" class="invalid" id="mayus_check" > <i *ngIf="mayuss_check" class="fa-solid fa-check"></i> <i *ngIf="!mayuss_check" class="fa-solid fa-close"></i> Mínimo <strong>una letra mayúscula</strong></li>
                              <li data-criterion="number" class="invalid" id="number_check" > <i *ngIf="numbers_check" class="fa-solid fa-check"></i> <i *ngIf="!numbers_check" class="fa-solid fa-close"></i> Mínimo <strong>un número</strong></li>
                              <li data-criterion="caracter" class="invalid" id="caracter_check" > <i *ngIf="this.characters_check" class="fa-solid fa-check"></i> <i *ngIf="!this.characters_check" class="fa-solid fa-close"></i> Mínimo <strong>un caracter especial <br> <p style="text-align: right;">(!¡¿?_->%&·"@#][.)</p></strong></li>
                          </ul>
                  </div>
              </div>
              <div class="password_valid">
                <p style="color: red; margin-bottom: 10px;" *ngIf="this.equalPWD">La contraseña tiene que ser distinta a la de arriba</p>
              </div>
              <div class="form-group mt-3">
                  <label for="name">Repetir contraseña *</label>
                  <input (input)="equalPwd()" formControlName="repassword"  type="password" class="form-control" id="nuevopassword2" #newpasswordfield2>
                  <span (click)="newpasswordfield2.type=newpasswordfield2.type=='password'?'text':'password'"
                                      class="fa fa-fw field-icon toggle-password"
                          [ngClass]="(newpasswordfield2.type=='password')?' fa-eye':' fa-eye-slash'">
                    </span>
              </div>
              <div class="password_valid">
                  <p style="color: green; margin-bottom: 10px;" *ngIf="this.lengthrepasword && valid_password">La contraseña es igual que la de arriba</p>
                  <p style="color: red; margin-bottom: 10px;" *ngIf="this.lengthrepasword && !valid_password">La contraseña es distinta que la de arriba </p>
              </div>
                <!--<div class="form-group">
                  <label for="nuevopassword">Nueva contraseña:</label>
                    <input formControlName="password" type="password" class="form-control" id="nuevopassword" #newpasswordfield>
                    <span (click)="newpasswordfield.type=newpasswordfield.type=='password'?'text':'password'"
                                      class="fa fa-fw field-icon toggle-password"
                      [ngClass]="(newpasswordfield.type=='password')?' fa-eye':' fa-eye-slash'">
                    </span>
                </div>
                <div class="form-group">
                    <label for="nuevopassword2">Repetir contraseña:</label>
                    <input formControlName="repassword" (input)="validPassword()" type="password" class="form-control" id="nuevopassword2" #newpasswordfield2>
                    <span (click)="newpasswordfield2.type=newpasswordfield2.type=='password'?'text':'password'"
                                      class="fa fa-fw field-icon toggle-password"
                          [ngClass]="(newpasswordfield2.type=='password')?' fa-eye':' fa-eye-slash'">
                    </span>
                </div>
                <div class="password_valid">
                  <p style="color: green; margin-bottom: 10px;" *ngIf="valid_password">La contraseña es válida</p>
                  <p style="color: red; margin-bottom: 10px;" *ngIf="invalid_password">La contraseña no es válida </p>
                </div> -->

                <div class="form-group" style="text-align: center;">
                    <button class="input-submit mt-3" type="submit " id="enviarpassword" [disabled]="nuevoPassword.pristine || nuevoPassword.get('email')?.value.length===0 || nuevoPassword.get('old_password')?.value.length===0
                    || nuevoPassword.get('password')?.value.length===0 || nuevoPassword.get('repassword')?.value.length===0 || !this.valid_password"><i *ngIf="waiting" style="margin-right: 10px;" class="fas fa-circle-notch fa-spin"></i> Cambiar contraseña</button>
                    <!--<button class="btn btn-danger " (click)="nuevoPassword.reset();showOKP = false;" type="button" id="cancel" [disabled]="nuevoPassword.pristine || nuevoPassword.get('email')?.value.length===0 || nuevoPassword.get('old_password')?.value.length===0
                    || nuevoPassword.get('password')?.value.length===0 || nuevoPassword.get('repassword')?.value.length===0 || nuevoPassword.get('repassword')?.value != nuevoPassword.get('password')?.value">Cancelar</button> -->
                </div>
            </form>
    </div>
  </div>
</section>
