.minHeight {
    min-height: 100vh;
}

.home-content {
    /*position: absolute;*/
    position: relative;
    height: 100%;
    /*width: calc(100% - 78px);
    left: 78px;*/
    /*width: calc(100% - 88px);
    left: 88px;*/
    transition: all 0.5s ease;
    position: relative;
    width: calc(100% - 68px);
    left: 68px;
}

.home-content.active {
    /*width: calc(100% - 240px);
    left: 240px;*/
    /*width: calc(100% - 250px);
    left: 250px;*/
    width: calc(100% - 210px);
    left: 210px;
}

@media (max-height: 800px) {
    .home-content {
        /*width: calc(100% - 50px);
        left: 50px;*/
        width: calc(100% - 68px);
        left: 68px;
    }
    .home-content.active {
        /*width: calc(100% - 200px);
        left: 200px;*/
        width: calc(100% - 210px);
        left: 210px;
    }
}

/* TAMAÑO MENOS A 715PX, QUE NO SE MUEVA EL CONTENIDO */
@media (max-width: 725px){
    .home-content.active {
        width: calc(100% - 68px);
        left: 68px;
    }
}